* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: VerminVibesV;
  /* font-weight: bold; */
  src: url("assets/fonts/VerminVibesV.ttf") format("truetype");
}

:root {
  --clr-gradient: rgb(255, 183, 142)
    linear-gradient(
      90deg,
      rgba(255, 183, 142, 1) 0%,
      rgba(149, 201, 234, 1) 35%,
      rgba(222, 224, 244, 1) 100%
    );
  --black: #000;
}

body {
  background-color: #f3f5f3;
}

.topBar {
  background: var(--clr-gradient);
  height: 5rem;
}

.bottomBar a button:hover {
  background: var(--clr-gradient);
}

.bottomBar Button:hover {
  background: var(--clr-gradient);
}

.active {
  background: var(--clr-gradient);
}

.black {
  color: var(--black) !important;
  text-decoration: none !important;
}

.blackBg {
  background: var(--black) !important;
}
