/* @import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: VerminVibesV;
  /* font-weight: bold; */
  src: url("assets/fonts/VerminVibesV.ttf") format("truetype");
}

:root {
  --clr-gradient: rgb(255, 183, 142)
    linear-gradient(
      90deg,
      rgba(255, 183, 142, 1) 0%,
      rgba(149, 201, 234, 1) 35%,
      rgba(222, 224, 244, 1) 100%
    );
  --black: #000;
  --brand-font: "VerminVibesV";
}

::-webkit-scrollbar {
  width: 1.2rem;
}

::-webkit-scrollbar-track {
  background: rgba(222, 224, 244, 1);
}

::-webkit-scrollbar-thumb {
  margin: 2px 2px 2px 2px;
  background: #838383;
  border: 0.25rem solid rgba(222, 224, 244, 1);
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2b2e31;
}

/* BOTTOM APPBAR CSS */

.bottomAppBar {
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-wrap: nowrap;
  background: rgb(52, 58, 64);
  position: relative;
}

.bottomAppBar button {
  height: 2rem;
}

.searchItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  flex-shrink: 0;
  padding: 0.3rem;
}

.searchBar {
  width: 200px;
  border: 3px solid #838383;
  padding: 0.3rem;
  height: 2rem;
  border-radius: 0 0.3rem 0.3rem 0;
  outline: none;
  color: rgb(52, 58, 64);
}

.searchIcon {
  width: 2.5rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #838383;
  background: #838383;
  border-radius: 0.3rem 0 0 0.3rem;
  font-size: 0.3rem;
}

.scrollItem {
  flex-grow: 1;
  padding-left: 1rem;
  overflow-x: scroll;
  overflow-y: hidden;
}

.scrollItem::-webkit-scrollbar {
  width: 2em;
}

.scrollItem::-webkit-scrollbar-track {
  /* background: #838383; */
  background: rgb(52, 58, 64);
  border-radius: 50px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.scrollItem::-webkit-scrollbar-thumb {
  margin: 2px 2px 2px 2px;
  background: var(--clr-gradient);
  /* border: 0.25rem solid #838383; */
  border: 0.25rem solid rgb(52, 58, 64);
  
  border-radius: 50px;
}

.categories {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 13rem;
  overscroll-behavior-inline: contain;
}

.categories a button:hover {
  background: var(--clr-gradient);
}

.categories button {
  width: 80%;
}

/* dropdown menu and search css */
.dropdown {
  color: #999;
  position: absolute;
  background: rgb(52, 58, 64);
  top: 100%;
  z-index: 10;
  display: none;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.6);
  width: 280px;
}

.dropdown h6 {
  color: #999;
  font-size: 1.5rem;
  padding: 0.9rem;
  border-bottom: 1px solid rgba(255, 183, 142, 1);
}

.dropdown h6:hover {
  background: var(--clr-gradient);
  color: rgb(52, 58, 64);
}

.dropdown ul li {
  list-style: none;
  background: rgb(52, 58, 64);
  width: 100%;
  padding: 0.9rem;
  padding-left: 1.5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.dropdown ul a {
  text-decoration: none;
  color: #999;
  display: block;
}

.dropdown ul li:hover {
  background: var(--clr-gradient);
}

.dropdown ul li:hover {
  color: rgb(52, 58, 64);
}

.dropdownMenu {
  left: 0;
  min-height: 370px;
  width: 100%;
}

.dropdownSearch {
  font-size: 1.1rem;
  left: 10px;
}

.dropdownSearch ul li {
  height: 5rem;
  padding-bottom: 0.5rem;
}

.dropdownSearch img {
  height: 3rem;
  width: 2rem;
}

.scale-in-ver-top {
  -webkit-animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.displayBlock {
  display: block;
}

@media (max-width: 600px) {
  .bottomAppBar {
    flex-wrap: wrap;
  }
  .searchItem {
    flex-grow: 1;
  }
  .dropdownMenu {
    left: 10%;
    width: 80%;
  }
  .dropdownSearch {
    left: 10%;
    width: 80%;
  }
}
@media (max-width: 900px) {
  .headerUser {
    display: none;
  }
  span {
    padding-right: 200px;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-8-6 15:3:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-ver-top
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
#app {
  height: 100%;
}

body {
  position: relative;
  height: 100%;
  background: #eee;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.mainBar {
  background: var(--clr-gradient);
}

.topBar {
  background: var(--clr-gradient);
  height: 5rem;
}

.bottomBar {
  background: var(--clr-gradient);
  box-shadow: none !important;
}

.active {
  background: var(--clr-gradient);
  color: #000 !important;
}

.black {
  color: var(--black) !important;
  text-decoration: none !important;
}

.blackBg {
  background: var(--black) !important;
}

/* .bottomNavBar .underBar {
  background-color: var(--clr-gradient) !important;
  z-index: 1;
} */

/* .navToolbar {
  justify-content: center !important;
  align-items: center;
} */

.search {
  /* border-radius: 0.75rem !important; */
  /* background-color: #1c1d1f !important; */
  /* width: 20% !important; */
}

.ftr {
  padding-top: 2rem;
  background-color: #000;
  color: white;
  position: absolute;
  width: 100%;
}

.ftr a {
  text-decoration: none;
  color: white;
}

.ftr h6 {
  margin-bottom: 1rem;
}

.ftr a:hover {
  background: var(--clr-gradient);
  color: black;
}

#ftrLogo {
  height: 4.2rem;
  width: 9rem;
  font-size: 3rem;
  font-family: var(--brand-font);
  color: white;
  background-color: #000;
  border: 1px solid rgba(222, 224, 244, 1);
  cursor: pointer;
}

#ftrLogo:hover {
  color: black;
  background: var(--clr-gradient);
}

.ftrIconLink {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.MuiButton-root.Mui-disabled {
  background: #ccc !important;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 0.5rem;
  margin: 2rem auto 2rem;
  width: 60%;
}
.mapFrame {
  flex-grow: 4;
  border: 0;
}

.banner-section {
}

/* Swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.slider-section {
  /* margin: 3rem 0 3rem 0; */
  padding: 3rem 0 3rem 0;
}

.slider-section.latest {
  padding: 6rem 0 3rem 0;
  background: transparent;
}

.slider-section-headline {
  text-align: center;
  margin-bottom: 1.5rem !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  padding: 1rem 0 2rem 0;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

/* Search input */
.dataResult {
  margin-top: 5px;
  width: 300px;
  height: 200px;
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  z-index: 997;
}

.dataResult::-webkit-scrollbar {
  display: none;
  z-index: 997;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: #fff;
  z-index: 997;
}

.dataItem p {
  margin-left: 10px;
  z-index: 997;
}
