* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: VerminVibesV;
  /* font-weight: bold; */
  src: url("assets/fonts/VerminVibesV.ttf") format("truetype");
}

:root {
  --clr-gradient: rgb(255, 183, 142)
    linear-gradient(
      90deg,
      rgba(255, 183, 142, 1) 0%,
      rgba(149, 201, 234, 1) 35%,
      rgba(222, 224, 244, 1) 100%
    );
  --black: #000;
  --brand-font: "VerminVibesV";
}

::-webkit-scrollbar {
  width: 1.2rem;
}

::-webkit-scrollbar-track {
  background: rgba(222, 224, 244, 1);
}

::-webkit-scrollbar-thumb {
  margin: 2px 2px 2px 2px;
  background: #838383;
  border: 0.25rem solid rgba(222, 224, 244, 1);
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2b2e31;
}

/* BOTTOM APPBAR CSS */

.bottomAppBar {
  font-family: "Roboto";
  display: flex;
  flex-wrap: nowrap;
  background: black;
  position: relative;
}

.bottomAppBar button {
  height: 2rem;
}

.searchItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  flex-shrink: 0;
  padding: 0.3rem;
}

.searchBar {
  width: 200px;
  border: 3px solid #838383;
  padding: 0.3rem;
  height: 2rem;
  border-radius: 0 0.3rem 0.3rem 0;
  outline: none;
  color: black;
}

.searchBtn {
  width: 40px;
  border: 1px solid #838383;
  background: #838383;
  color: black;
  border-radius: 0.3rem 0 0 0.3rem;
  cursor: pointer;
  font-size: 0.3rem;
}

.scrollItem {
  flex-grow: 1;
  padding-left: 1rem;
  overflow-x: scroll;
  overflow-y: hidden;
}

.scrollItem::-webkit-scrollbar {
  width: 2em;
}

.scrollItem::-webkit-scrollbar-track {
  background: #838383;
  border-radius: 50px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.scrollItem::-webkit-scrollbar-thumb {
  margin: 2px 2px 2px 2px;
  background: var(--clr-gradient);
  border: 0.25rem solid #838383;
  border-radius: 50px;
}

.categories {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 13rem;
  overscroll-behavior-inline: contain;
}

.categories a button:hover {
  background: var(--clr-gradient);
}

.categories button {
  width: 80%;
}

/* dropdown menu css */
.dropdownMenu {
  position: absolute;
  background: black;
  left: 1rem;
  top: 100%;
  z-index: 10;
  display: none;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.6);
}

.scale-in-ver-top {
  -webkit-animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.dropdownMenu h6 {
  color: #999;
  font-size: 1.5rem;
  padding: 0.9rem;
  border-bottom: 1px solid rgba(255, 183, 142, 1);
}

.dropdownMenu ul li {
  list-style: none;
  background: black;
  width: 13rem;
  padding: 0.9rem;
  padding-left: 1.5rem;
}

.dropdownMenu ul li a {
  text-decoration: none;
  color: #999;
  display: block;
}

.dropdownMenu ul li:hover {
  background: var(--clr-gradient);
}

.dropdownMenu ul li:hover a {
  color: black;
}

.displayBlock {
  display: block;
}

@media (max-width: 600px) {
  .bottomAppBar {
    flex-wrap: wrap;
  }
  .searchItem {
    flex-grow: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-8-6 15:3:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-ver-top
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}

body {
  background-color: #f3f5f3;
}

.topBar {
  background: var(--clr-gradient);
  height: 5rem;
}

.bottomBar a button:hover {
  background: var(--clr-gradient);
}

.bottomBar Button:hover {
  background: var(--clr-gradient);
}

.active {
  background: var(--clr-gradient);
}

.black {
  color: var(--black) !important;
  text-decoration: none !important;
}

.blackBg {
  background: var(--black) !important;
}

.ftr {
  padding-top: 2rem;
  background-color: #2b2e31;
  color: white;
  position: absolute;
  width: 100%;
}

.ftr a {
  text-decoration: none;
  color: white;
}

.ftr h6 {
  margin-bottom: 1rem;
}

.ftr a:hover {
  background: var(--clr-gradient);
  color: black;
}

#ftrLogo {
  height: 4.2rem;
  width: 9rem;
  font-size: 3rem;
  font-family: var(--brand-font);
  color: white;
  background-color: black;
}

#ftrLogo:hover {
  color: black;
  background: var(--clr-gradient);
}

.ftrIconLink {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.MuiButton-root.Mui-disabled {
  background: #ccc !important;
}
